<div class="card container text-center">
  <div class="card-body">
    <h1 class="card-title">登录</h1>
    <form>
      <div class="form-group">
        <label class="form-control-label float-left" for="formGroupExampleInput">用户名</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="请输入用户名">
      </div>
      <div class="form-group">
        <label class="form-control-label float-left" for="formGroupExampleInput2">密码</label>
        <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="请输入密码">
      </div>
      <button type="submit" class="btn btn-sm btn-block btn-primary">提交</button>
    </form>
  </div>

</div>

